/* Theme Name: WP Bootstrap starter Child

Theme URI: http://example.com/twenty-fifteen-child/
Description: Twenty Fifteen Child Theme
Author: John Doe
Author URI: http://example.com
Template: wp-bootstrap-starter
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: twenty-fifteen-child */

#Header styles

h1.receipe
{font-size:35px;
color:#2780E3;
}

h2{
	font-size:20px;
}

h2.entry-title{
	padding-top:20px
}

#Extra items

.details{
	margin-bottom:0.5em;
	font-size:14px;
	color:graytext
}

.summary {
	background-color:#FFE;
	padding-top:10px;
	padding-bottom:5px;
	border-radius:10px;
	margin-bottom:15px
}

.overview {
	padding-top:50px;
}

.time{
	color:#2780E3;
}

.entry-header {padding-bottom:20px}

.introduction {padding-bottom:20px; font-weight:bold}

table.table-striped {font-size:0.9rem; width: inherit;}

.ingredients_notes{font-size:smaller; color:graytext; margin-top:25px}

.ingredients_sidebar{}


ul.post-categories
{list-style-type: none;}
